button{
    border-radius: 23px;
    cursor: pointer;
    border: 2px solid grey;
    font-family: 'Balsamiq Sans', cursive;
}



input{
    border-radius: 15px;
    padding: 5px;
    font-family: 'Balsamiq Sans', cursive;
}

body{
    font-family: 'Balsamiq Sans', cursive;
}
.container{
    border: 2px solid rgb(226, 214, 214);
    margin: 10px;
    padding: 2px 2px;
    width: 450px;
    border-radius: 20px;
    color:white;
    position: absolute;
    top: 150px;
    left: 700px;
   
}


